<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Registrarse'}) %>
<body>
    <!-- Header -->
	<%- include('../partials/headerNavbar') %>
    <!-- /Header -->
    
    <div class="main-container">

        <main>

            <form action="/users/login" method="POST"> <!-- Formulario de ingreso -->

                <input type="text" name="userName" id="userName" placeholder="Nombre de Usuario"
                       class="textField <%= locals.errors && errors.userName ? 'alert-input' : '' %>">
                <span class="alert-label">
                    <%= locals.errors && errors.userName ? errors.userName.msg : '' %> 
                </span>
                       
                <input type="password" name="password" id="password" placeholder="Contraseña"
                       class="textField <%= locals.errors && errors.password ? 'alert-input' : '' %>">
                    <span class="alert-label">
                        <%= locals.errors && errors.password ? errors.password.msg : '' %> 
                    </span>

                <label for="rememberMe">Recordarme</label>
                <input type="checkbox" name="rememberMe" value="rememberMe">

                <span class="alert-label">
                    <%= locals.errors && errors.athenticate ? errors.athenticate.msg : '' %> 
                </span>

                <button type="submit" class="submitButton">Ingresar</button>
    
            </form>

        </main>

    </div>

    <!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>
</html>